<ion-view title="Page">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/pkqwuTvRgaC3MNfkaR1g_discussionThread.png) center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-size: 100% 100%; min-width:100%;" scroll="false" class="has-header">
        <div style="text-align:center;">
            <img src="img/hrHoWe1Q4mt50HdRrYUT_uCovenantLogoWhite.png" width="45%" height="auto">
        </div>
        <div>
            <div class="introFont container" style="text-color:white;">
                <strong>Welcome to U·Covenant - a contemporary Christian ministry built</strong>
                <br>
                <i>By You, For God.</i>
                <br>
                <strong>Join members across the globe in discussions and services centered around the issues that matter to you.</strong>
            </div>
            <div class="container">
                <a class="noUnderline" href="discussionThread.html">
                    <div class="getStartedButton introFont">Get started</div>
                </a>
            </div>
        </div>
        <a href="#" onclick="window.open('discussionThread.html', '_system', 'location=yes'); return false;" id="page-button1" style="border-radius:0px 0px 0px 0px;" class="button button-royal  button-block">Get Started</a>
    </ion-content>
</ion-view>
