<ion-view title="">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/1hsSkebAQ6uVJAuhdAsb_discussionThread.png) no-repeat center;" scroll="false">
        <div class="spacer" style="width: 300px; height: 58px;"></div>
        <div style="text-align:center;">
            <img src="img/AP0ERRtXTSdDy8XUuZLd_uCovenantLogoWhite.png" width="40%" height="auto">
        </div>
        <div>
            <style>
                @font-face {
                font-family: shadowsintolight;
                src: url(fonts/shadowsintolight.ttf);
                }
            </style>

            <div class="introFont container" style="color:white; font-family:shadowsintolight; margin-left:10%; margin-right: 10%;">
                <strong>Welcome to U·Covenant - a contemporary Christian ministry built</strong>
                <br>
                <i>By You, For God.</i>
                <br>
                <strong>Join members across the globe in discussions and services centered around the issues that matter to you.</strong>
            </div>
        </div>
        <a href="#" onclick="window.open('discussionThread.html', '_system', 'location=yes'); return false;" id="page1-button1" style="color:Default;" class="button button-positive  button-block icon-right ion-arrow-right-c">Get Started</a>
    </ion-content>
</ion-view>